<div class="container">
	 <div class="row">
	 	<div class="col-md-3">
	 		<h2>管理者画面</h2>
			<h3>本日の注文件数<br>
				<%= @orders.count %>件
			</h3>
	 	</div>
	 	<div class="col-md-7">
		<%= image_tag 'samantha-sophia-WNQUJY7Fepw-unsplash.jpg', :size =>'700x500' %>
		</div>
	</div>
</div>