<div class="col-md-3">
    <table class="table table-bordered">
        <thead>
        	<tr>
            	<th>ジャンル検索</th>
          	</tr>
        </thead>
        <% genres.each do |genre| %>
        	<tbody>
            	<td><%= link_to genre.name, customers_products_path(genre_id: genre.id) %></td>
            </tbody>
        <% end %>
    </table>
</div>