/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name {
	margin-top: 14px;
	margin-right: 80px;
}

.sign-up {
	margin-bottom: 30px;
	margin-top: 10px;
}

.sign-up-form {
	margin: 10px 0;
}

.navbar {
	height: 140px;
	background-color: #FFFAF0;
}

.navbar-right {
	padding-top: 25px;
	color: black;
	font-size: 17px;
}

main {
	margin-top: 60px;
	height: 600px;
}

.navbar-left {
	font-size: 32px;
	margin-top: 30px;

}

.logo {
	color: black;
}


body {
	background-image: url(/assets/paper.jpg);
}

.genre {
	background-color: #FFFAF0;
	margin-top: 20px;
}
.genre-text {
	height: 45px;
	font-size: 18px;
	padding-top: 10px;
}
.genre-title {
	font-size: 18px;
}

.about {
	margin-top: 70px;
	font-size: 20px;
	background-color: #FFFAF0;
}

footer {
	width: 100%;
	background-color: #FFFAF0;
	height: 100px;
}

.product {
	font-size: 15px;
}

.carousel-inner {
	height: 600px;
}

.abc {
	width: 100%;
}

img {
	padding: auto;
}

header {
	/*background-image: url(/assets/wood.jpg);*/
}

.footer-text {
	margin-top: 40px;
	background-color: #FFFAF0;
}

.table {
	margin: 20px;
}

.btn {
	margin: 10px;
}
